.navbar-balance-text {
  max-width: 100px;
}
.navbar-balance-button {
  max-width: 125px;
  box-shadow: none !important;
  outline: none !important;
  cursor: default !important;
}
.navbar-account-button {
  max-width: 125px;
  box-shadow: none !important;
  outline: none !important;
}
