.launchpad-banner{
    height: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }




  @media only screen and (max-width: 992px) {
    .launchpad-banner{
      height: 40%;

  }
  }