@import '../../variables.scss';
.project-img-div{

    background: url("card-title-background.png");
    height: 149px;
    background-size: cover;
}
.project-progress-bar{
    border-radius: 40px !important;
    .progress-bar{
        background: $unopad-gradient-vertical;
        border-radius: 40px !important;
    }
}
.project-name-div{
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-icon{
    border-radius: 50% ;
}

tr:last-child{
    border-bottom-color:$unopad-primary;
}
.ended-logo{
    color: $unopad-primary;
    background: rgba(228, 0, 125, 0.18);;
    border-radius: 27px;
    height: 18px;
    width: auto;
    text-align: center;
}
.unopad-icon{
    height: 16px;
}