@import '../../variables.scss';

.subscribe{


background: $unopad-tertiary;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 68px;
height: 580px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

.icon1{
position: absolute;
width: 462.13px;
height: 490px;
margin-top: 40px;

background: url("icon1.png");
filter: blur(15px);
transform: rotate(-128.32deg);
}
.icon2{
position: absolute;
float: right;
margin-top: 100px;
width: 208.7px;
height: 240.09px;


background: url("icon2.png");
filter: blur(10px);
transform: rotate(34.83deg);
}


}
.title{
    text-align: center;
}

.text{

    width: 65%;
    margin-top: 35px;
    text-align: center;
}

.email-form{

    padding-left: 10%;
    padding-top: 4%;
    padding-right: 10%;

}

.email-button{
    
    width: 28%;
    background: #E4007D;
    border-radius: 4.8px;

}